*{
  margin: 0;
  padding: 0;
}


body{
  font-family: helvetica;
  font-size: 22px;
  background-color: black;
  color: seashell;
  opacity: 0.9;

}

/*This is the Header part*/

.header{
  display: flex;
  max-height: 68px;
  border-bottom: 1px solid seashell;
  position: fixed;
  background-color: black;
  justify-content: space-between;
  width: 100%;
  z-index: 3;
}

#logo{
  height: 50px;
  padding: 10px;

}

.links{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links a{
  padding: 10px;
  text-decoration: underline;
}

/*This is the first main image on page*/

.mainimage{
  position: relative;
  width: 1200px;
  height: 700px;
  background-image: url("./images/missionbg.jpg");
  top: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#title{
  background-color: black;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#title h2, h4{
  margin: 5px;
}

/* Tea of the Month Area with images */

.middle{
  width: 1000px;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  top: 100px;
  position: relative;
  justify-content: center;
  margin: auto;
}

.teaselection{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.teaselection img{
  width: 300px;
  height: 200px;
  margin: 5px;
  padding: 5px;
}

.myrtle{
  margin-right: -275px;
}

.bedfordbizzare{
  margin-left: -275px;
}

/* Locations */

.locations{
  background-image: url("./images/locations.jpg");
  min-height: 500px;
  min-width: 1200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position:relative;
}

.boxes{
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  align-items: stretch;
}

#box1, #box2, #box3{
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 300px;
  justify-content: center;
}

#box1 h3, h4{
  padding: 10px;
}

#box2 h3, h4{
  padding: 10px;
}

#box3 h3, h4{
  padding: 10px;
}
